
*{
	padding: 0;
	margin: 0;
    box-sizing: border-box;
}
html{
	width: 100%;
	height: 100%;
	font: 18px/1.5 sans-serif;
	background-color: white;
}
div{

}
body {
	align-items: center;
	justify-content: center;
}
video{
	text-align: center;
}
img{
	background: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/5eeea355389655.59822ff824b72.gif) no-repeat;
	height: 100%;
	margin: -10%;
	text-align: center;
}
.center{
	text-align: center;
}
.center2{
	align:center;
}
.card{
	margin: 2em;
	padding: 2.5em 2rem;
	color: #2c3039;
	text-align: center;
}
.card-list{
	font-size: 14px;
}
.list-style-square{
	list-style-type: square;
}
.list-style-none{
	list-style-type: none;
	margin-left: 1em;
}
@media(max-width: 1520px){
	.card{
		padding: 0;
		margin: 0;
		text-align: center;
	}
	img{

		height: 80%;
		width: auto;
	}
}
@media(max-width: 1240px){
	body {
		display: flex;
		flex-direction: column;
		text-align: center;
	}
}
button{
	padding: 10px 20px;
	border: none;
	border-radius: 7px;

	color: white;
	font-weight: lighter;

	background: #47cf73;

	cursor: pointer;
}

#modal{
	color: red;
	position: absolute;
	background-color: #353739;
	padding: 50px;
	animation: anime 0.2s ease;
	font: 20px/1.5 sans-serif ;
}
@keyframes anime {
	from {
transform: scale(0);
}
	to{
		transform: scale(1);
	}
}
#modal2{
	color: red;
	background-color: #353739;
	padding: 50px;
	animation: anime 0.2s ease;
	font: 20px/1.5 sans-serif ;

}
.hover:hover{
	color: #2196f3;
}
.menu-main{
	list-style: none;
	margin: 20px 0 5px;
	padding: 10px 0 5px;
	text-align: center;
	background: grey;
}
.menu-main li {
	display: inline-block;
}
.menu-main li:after{
	content: "|";
	color: #606060;
	display: inline-block;
	vertical-align: top;
}
.menu-main li:last-child:after{
	content: none;
}
.menu-main a{
	text-decoration: none;
	font-family: 'Ubuntu Condensed', sans-serif;
	letter-spacing: 2px;
	position: relative;
	padding-bottom: 20px;
	margin: 0 34px 0 30px;
	font-size: 17px;
	text-transform: uppercase;
	transition: color .2s;
}
.menu-main a, .menu-main a:visited{
	color: black;
}
.menu-main a.current, .menu-main a:hover{
	color: #feb386;
}
.menu-main a:before, .menu-main a:after{
	content: "";
	position: absolute;
	height: 4px;
	top: auto;
	right: 50%;
	bottom: -5px;
	background: #feb386;
	transition: .8s;
}

ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
	overflow: hidden;

}
a{
	text-decoration: none;
}
li{
	margin-right: 50px ;
}
.sidenav{
	height: 100%;
	width: 200px;
	position: fixed;
	z-index: 1;
	top: 100px;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 20px;
}
.sidenav a{
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size:  15px;
	color: #818181;
	display: block;
}
.sidenav a:hover{
	color: #f1f1f1;
}
.main{
	margin-left: 160px;
	padding: 0 10px;
}
@media screen and (max-height: 450px){
	.sidenav {padding-top: 15px}
	.sidenav a{font-size: 18px}
}

