:root {
  --color-black:        #000000FF; //     Black | Чёрный
  --color-boulder:      #7D7D7DFF; //   Boulder | Валун
  --color-silver:       #CDCDCDFF; //    Silver | Серебро
  --color-gorse:        #FCF84AFF; //     Gorse | Утесник
  --color-sun:          #FDB60DFF; //       Sun | Солнце
  --color-ecstasy:      #FC801DFF; //   Ecstasy | Экстази
  --color-radical:      #FE2857FF; //   Radical | Радикал
  --color-ruby:         #DD1265FF; //      Ruby | Рубин
  --color-fuchsia:      #FF318CFF; //   Fuchsia | Фуксия
  --color-pizzazz:      #FF45EDFF; //   Pizzazz | Изюминка
  --color-violet:       #AF1DF5FF; //    Violet | Фиолетовый
  --color-blue:         #6B57FFFF; //      Blue | Синий
  --color-azure:        #087CFAFF; //     Azure | Лазурь
  --color-turquoise:    #07C3F2FF; // Turquoise | Бирюза
  --color-meadow:       #21D789FF; //    Meadow | Луг
  --color-malachite:    #3DEA62FF; // Malachite | Малахит
  --color-black-75:     #000000C0;
  --color-boulder-75:   #7D7D7DC0;
  --color-silver-75:    #CDCDCDC0;
  --color-gorse-75:     #FCF84AC0;
  --color-sun-75:       #FDB60DC0;
  --color-ecstasy-75:   #FC801DC0;
  --color-radical-75:   #FE2857C0;
  --color-ruby-75:      #DD1265C0;
  --color-fuchsia-75:   #FF318CC0;
  --color-pizzazz-75:   #FF45EDC0;
  --color-violet-75:    #AF1DF5C0;
  --color-blue-75:      #6B57FFC0;
  --color-azure-75:     #087CFAC0;
  --color-turquoise-75: #07C3F2C0;
  --color-meadow-75:    #21D789C0;
  --color-malachite-75: #3DEA62C0;
  --color-black-50:     #00000080;
  --color-boulder-50:   #7D7D7D80;
  --color-silver-50:    #CDCDCD80;
  --color-gorse-50:     #FCF84A80;
  --color-sun-50:       #FDB60D80;
  --color-ecstasy-50:   #FC801D80;
  --color-radical-50:   #FE285780;
  --color-ruby-50:      #DD126580;
  --color-fuchsia-50:   #FF318C80;
  --color-pizzazz-50:   #FF45ED80;
  --color-violet-50:    #AF1DF580;
  --color-blue-50:      #6B57FF80;
  --color-azure-50:     #087CFA80;
  --color-turquoise-50: #07C3F280;
  --color-meadow-50:    #21D78980;
  --color-malachite-50: #3DEA6280;
  --color-black-25:     #00000040;
  --color-boulder-25:   #7D7D7D40;
  --color-silver-25:    #CDCDCD40;
  --color-gorse-25:     #FCF84A40;
  --color-sun-25:       #FDB60D40;
  --color-ecstasy-25:   #FC801D40;
  --color-radical-25:   #FE285740;
  --color-ruby-25:      #DD126540;
  --color-fuchsia-25:   #FF318C40;
  --color-pizzazz-25:   #FF45ED40;
  --color-violet-25:    #AF1DF540;
  --color-blue-25:      #6B57FF40;
  --color-azure-25:     #087CFA40;
  --color-turquoise-25: #07C3F240;
  --color-meadow-25:    #21D78940;
  --color-malachite-25: #3DEA6240;
}
