:root {
  @media screen {
    &[data-theme='odan'] {
      /* Panel */
      --panel-background:                 #2F3032;
      --panel-border:                     #27292A;
      --panel-alt-background:             #363642;

      /* Field */
      --field-background:                 #4B4F51;
      --field-background-disabled:        var(--panel-background);
      --field-border-color:               #5D5F5F;
      --field-border-disabled-color:      #333336;
      --field-border-focused-color:       #466D94;
      --field-border-validated-color:     #673A40;
      --field-outline-color:              #FFFFFF00;
      --field-outline-focused-color:      #3D6084;
      --field-outline-validated-color:    #983F3F;
      --field-button-background:          var(--panel-background);
      --field-button-background-disabled: var(--panel-background);

      /* Checkbox / Radio */
      --check-background:                 #43494A;
      --check-background-disabled:        #3C3F41;
      --check-border-color:                 #6B6B6B;
      --check-border-disabled-color:        #545556;
      --check-border-focused-color:         #43698E;
      --check-outline-color:                #97C3F300;
      --check-outline-focused-color:        #3D6185;

      /* Checked */
      --check-checked-background:           var(--check-background);
      --check-checked-border-color:         var(--check-border-color);
      --check-checked-focused-border-color: var(--check-border-focused-color);

      /* Button */
      --button-background:                  var(--field-background);
      --button-background-disabled:         var(--field-background-disabled);
      --button-background-default:          #365880;
      --button-border-color:                var(--field-border-color);
      --button-border-default-color:        #4C708C;
      --button-border-focused-color:        var(--field-border-focused-color);
      --button-outline-focused-color:       var(--field-outline-focused-color);

      /* Progress */
      --progress-background:                #555;
      --progress-fill-background:           #A0A0A0;
      background:                           linear-gradient(270deg,
        #828282 0%,
        #696969 18.21%,
        #828282 36.41%,
        #696969 55.4%,
        #828282 76.93%,
        #696969 100%);

      /* Tabs */
      --tabs-background:                    var(--panel-background);
      --tabs-border:                        var(--panel-border);
      --tab-background:                     var(--tabs-background);
      --tab-background-active:              #393A3D;
      --tab-border:                         var(--tabs-border);
      --tab-border-active:                  #2F65CA;

      /* Card */
      --main-background:                    #232425;
      --card-header-background:             #494D51;
      --card-hint-background:               #3B3F3F;
      --card-alt-background:                #363641;
      --card-shadow:                        0px 0px 2px #0000004C, 0px 0px 30px #0000004C;

      /* Icon */
      --icon-background:                    #2F3032;
      --icon-hovered-background:            #4C5052;
      --icon-pressed-background:            #5C6164;
      --icon-fill:                          #AEB0B2;
      --icon-filter:                        grayscale(0) brightness(1);
      --icon-dropdown:                      #D6D6D6;
      --icon-split:                         #404144;
      --icon-split-hovered:                 #6B6B6B;

      /* Balloon */
      --balloon-shadow:                     0 2px 8px 0 #00000033;
      --balloon-icon-fill:                  #7F8B9100;
      --balloon-hovered-icon-fill:          #7F8B9180;
      --balloon-hovered-icon-hovered-fill:  #7F8B91B0;
      --balloon-hovered-icon-active-fill:   #7F8B91FF;

      /* Stripe */
      --stripe-hovered-background:          #2A2A2C;
      --stripe-selected-background:         #242526;

      /* Tool */
      --tool-header:                        #333436;

      /* Selection */
      --selection-active:                   #2F64C8;
      --selection-hovered:                  #113A5C;

      /* Scrollbar */
      --scroll-background:                  #49494944;
      --scroll-thumb-color:                 #696969AA;
      --scroll-thumb-active:                #696969CC;
      --scroll-thumb-border:                #29292944;

      /* Typography */
      --default:                            #BBB;
      --disabled:                           #777;
      --selected:                           #FEFEFE;
      --link:                               #589DF6;
      --link-visited:                       #BA6F25;
      --info-panel:                         #8C8C8C;
      --info-input:                         #787878;
      --error:                              #FF5261;
      --success:                            #50A661;

      /* Typography Code */
      --code-default:                       #BABABA;
      --code-keyword:          #CB7832;
      --code-variable:         red; // #871094;
      --code-number:           #6896BA;
      --code-method:           red; // #00627A;
      --code-caret-row:        #323232;
      --code-description:      #7F7F7F;
      --code-override:         red; // #9E880D;
      --code-tag:              #E8BF6A;
      --code-string:           #8EA765;

      /* Other */
      --gutter-color:          #5F6265;
      --gutter-background:     #1D1E1F;
      --gutter-border:         #444648;

      /* Table */
      --table-head-background: var(--panel-background);
      --table-body-background: var(--main-background);
      --table-border:          #373737;
    }
  }
}
